
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css">
<script src="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
<h1>user results</h1>

<table id="users_results" class="table table-bordered">
  <thead>
    <tr>
      <th>邮箱</th>
	  <th>购买数目</th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each.map do |key,value| %>
      <tr>
        <td><%= key %></td>
		<td><%= value %></td>
		<td><%= link_to '兑换', {controller: "businesses", action: :exchange, email: key}, data: { confirm: '你确定要兑换么?' }, method: :post  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<script type="text/javascript">
mixpanel.track('owner checks user amount table');
</script>
