<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>      
<h1>Display#index</h1>
<p>Find me in app/views/display/index.html.erb</p>
<table>
  <thead>
    <tr>
      <th>meta_id</th>
	  <th>amount</th>
	  <th></th>
    </tr>
  </thead>

  <tbody>
    <% @record.each.map do |meta_id,amount| %>
      <tr>
        <td><%= meta_id %></td>
		<td><%= amount %></td>
		<td><%= link_to '兑换', {controller: "display", action: :exchange, meta_id: meta_id}, data: { confirm: 'Are you sure?' } ,method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>



