<script>
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition,showError);
    } else {
        //x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function showError(error) {
	var url = '/display/geonew';
	var form = $('<form action="' + url + '" method="post">' +
	'<input type="hidden" name="authenticity_token" value="' +        $('meta[name="csrf-token"]').attr('content')+ '" />' +
	  '<input type="text" name="latitude" value="0" />' +
	  '<input type="text" name="longitude" value="0" />' +
	  '</form>');
	$(form).submit();
    // switch(error.code) {
    //     case error.PERMISSION_DENIED:
    //         alert("User denied the request for Geolocation.");
    //         break;
    //     case error.POSITION_UNAVAILABLE:
    //         alert ("Location information is unavailable.");
    //         break;
    //     case error.TIMEOUT:
    //         alert("The request to get user location timed out.");
    //         break;
    //     case error.UNKNOWN_ERROR:
    //         alert ("An unknown error occurred.");
    //         break;
    // }
}

function showPosition(position) {
	var url = '/display/geonew';
	var form = $('<form action="' + url + '" method="post">' +
	  '<input type="hidden" name="authenticity_token" value="' + $('meta[name="csrf-token"]').attr('content')+ '" />' +
	  '<input type="text" name="latitude" value="' + position.coords.latitude+ '" />' +
	  '<input type="text" name="longitude" value="' + position.coords.longitude+ '" />' +
	  '</form>');
	$(form).submit();
	//Post to Transaction
    //alert( "Latitude: " + position.coords.latitude + "Longitude: " + position.coords.longitude); 
}

$(document).ready(function(){
	getLocation();
});

</script>
<%= csrf_meta_tag %>