<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>
		亲爱的戳戳用户你好，
	</p>	
    <p>
      感谢你成功使用戳戳在<%=@business_name%>兑换到了Get 1 Free免单消费。希望你喜欢我们的服务，继续与戳戳一起火力全开，加速前进！
    </p>
    <p>
      	更多参与商家，更多惊喜礼物，点击戳戳查看。
    </p>
    <p>	如果你对戳戳有任何建议或问题，请与我们联系：
		电子邮件：help.chuochuo.me@gmail.com</p>
	<p>
		戳戳团队
	</p>
  </body>
</html>