<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;"><a href="http://chuochuo.me"><span id="docs-internal-guid-a59841ae-ecec-2925-d8df-10968c1f4e3f"><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;"><img alt="" src="http://chuochuo.me/assets/cup-9adb0e61c0b4931147bd0e4e9f732a2a.png" style="width: 200px; height: 145px;" /></span></span></a></p>

<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;"><span><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">亲爱的戳戳用户，</span></span></p>

<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;"><span id="docs-internal-guid-a59841ae-ecec-2925-d8df-10968c1f4e3f"><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">恭喜你成功注册为</span><a href="http://chuochuo.me"><span style="font-family: 微软雅黑; font-style: italic; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">戳戳me</span></a><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">首批会员，加入我们的无限惊喜计划。</span></span></p>

<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;"><span id="docs-internal-guid-a59841ae-ecec-2925-d8df-10968c1f4e3f"><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">你的戳戳地址为：</span><a href="http://chuochuo.me"><span style="font-family: 微软雅黑; color: rgb(51, 51, 51); vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">http://chuochuo.me</span></a><a href="http://chuochuo.me"><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;"> </span></a></span></p>

<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;"><span id="docs-internal-guid-a59841ae-ecec-2925-d8df-10968c1f4e3f"><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">你的登录帐号为：<%=@user.email%> ，你现在就可以用这个账号登录戳戳，汇集你的累计卡片，解救你的钱包。</span></span></p>

<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;">&nbsp;</p>

<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;"><span id="docs-internal-guid-a59841ae-eced-8a07-832f-7f28256abb33"><span style="font-family: 微软雅黑; font-weight: bold; font-style: italic; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">如何使用？</span></span></p>

<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;"><span id="docs-internal-guid-a59841ae-eced-8a07-832f-7f28256abb33"><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">每次在参与商家消费后，扫描戳戳二维码，即可自动累计一颗星，集齐6至10颗（具体要求根据商家而定），便可召唤神龙，获得一次免单！</span></span></p>

<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;"><span id="docs-internal-guid-a59841ae-eced-8a07-832f-7f28256abb33"><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">快与我们一起，加快脚步，玩转全城！ </span></span></p>

<p>&nbsp;</p>

<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;"><span id="docs-internal-guid-a59841ae-eced-8a07-832f-7f28256abb33"><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">如果你对戳戳有任何建议或问题，请与我们联系：</span></span></p>

<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;"><span id="docs-internal-guid-a59841ae-eced-8a07-832f-7f28256abb33"><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">电子邮件：help.chuochuo.me@gmail.com</span></span></p>

<p>&nbsp;</p>

<p dir="ltr" style="line-height:1;margin-top:0pt;margin-bottom:0pt;text-align: justify;"><span id="docs-internal-guid-a59841ae-eced-8a07-832f-7f28256abb33"><span style="font-family: 微软雅黑; vertical-align: baseline; white-space: pre-wrap; background-color: transparent;">戳戳团队</span></span></p>

<div>&nbsp;</div>

<div>&nbsp;</div>
  </body>
</html>